body{
    font-size: 13px;

}
.btn{
    padding:4px 8px;
    line-height: 1.3;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 10px;
    padding-left: 10px;
}
.form-group{
    margin-bottom: 8px;
}
.box-footer{
    padding: 7px;
}
form span.error{
    text-align:left;
    color:#B8272F;
    font-size:12px;
    font-weight: 700;
    margin:5px 0 0 0;
    display: block;
}
input[type=file]{
    height: 30px;
}

/* sidebar on minimized */
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu 
{
    display: block !important;
    position: absolute;
    width: 218px;
    left: 50px; /* Change 50px to the new height value. LINE 620*/
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right){
    width: 219px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu
{
    top: 40px;
    border-radius: 0;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span
{
    border-radius: 0;
}

.box.box-sm{
    border-top-color: #3B7596;
}
/*Css for jquery validate*/
em.required{
    color: #C00101;
    margin: 0;
    padding: 0;
}

/*for Configuration Dashbord*/
.launcher_icons{
    text-align: center;
}

.launcher_icons ul {
    margin-top: 20px;
}

.launcher_icons ul li {
    width: 80px;
    margin: 0 20px 20px 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.launcher_icons ul li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 15px #f4f4f4;
    -moz-box-shadow: inset 0 0 15px #f4f4f4;
    box-shadow: inset 0 0 15px #f4f4f4;
    text-decoration:none;
}
.launcher_icons ul li a {
    display: block;
    padding: 5px;
    border: 1px solid #F1F1F1;
}

.launcher_icons ul li a span {
    font: 11px Tahoma,sans-serif;
    color: #333;
    display: block;
}
/*employee radio button margin*/
.employee input[type='radio']{
    margin-left: 5px;
    margin-right: 1px;
}

/* decrease padding of section */
section.content{
    padding: 0 15px;
}
section.content-header{
    padding: 7px 15px;
}
/*datepicker month and year background */
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{
    background-color: #3B7596;
    border: none;
}
.ui-datepicker .ui-datepicker-title select{
    margin: 1px !important;
}

/* alert box margin and padding */
.alert{
    border-radius: 0;
    margin-bottom: 2px;
    padding: 12px 30px 12px 12px;
}
/*margin and alignment between label and checkbox */
#permission_form label{
    margin:0 0 0 12px;
}
#permission_form input[type=checkbox]{
    vertical-align:inherit;
}
#permission_form th label,#permission_form td label{
    margin-left: 0;
}
#permission_form td label{
    font-weight: normal;
}


/*pagination*/
ul.pagination li.current a{
    background-color: rgb(60, 141, 188);
    border-color: rgb(60, 141, 188);
    color: #fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: inherit;
    background-color: #ECECEC;
}

/*clear and Submit button background of Salary Profile */
.tab-content .clear{
    background-color: #dd4b39 !important;
}
.tab-content .submit{
    background-color: #00a65a !important;
}
/*Collapsable Box */
#table .box{
    border-top-width: 2px;
    margin-bottom: 5px;
}
#table .box-header.with-border{
    border-bottom-width: 2px;
}
#table .box-header .box-title{
    font-size: 14px;
  font-weight: bold;
  font-style: italic;
}
#table .box-body{
    padding: 5px 0;
}
#table .box-body .col-xs-8{
    padding:0 5px 0 0;
}
#table .box-body .col-xs-4{
    padding: 0;
}
#table .box-header{
    padding: 5px 10px;
}
#table tbody tr td{
    padding-top: 10px;
}
#table  button.add_more_allowance{
    font-size: 13px;
    margin-top: 8px;
    padding: 4px 5px
}
.tab-content .table tr td{
    padding: 8px 4px;
}
.tab-content .box-header>.box-tools{
    right: 5px;
    top: 2px;
}
.tab-content .box .table tbody label{
    font-size: 12px !important;
    display: inline;
}
.tab-content .table td input[type=text],.tab-content .table td select{
    height: 30px;
    padding:5px 6px;
    font-size: 13px;
}
.tab-content .box .table tbody input[type=text]{
    width: 87px;
    padding:3px 6px;
}
.salary-profile .col-md-2{
    padding: 1px 5px;
}
.tab-content .InputData input.total{
    width: 90px;
    height: 28px;
}
/* salary view fieldset */
fieldset.salaryView{
      padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid silver;
  margin-bottom: 5px;
}
fieldset.salaryView legend{
    border:none;
    width: auto;
    padding:0 1px;
    margin-left: 1%;
    margin-bottom: 0;
    color: #BDB2B2;
}
.salary fieldset.salaryView ul{
    padding: 0;
    margin:0;
}
.salary table tr td{
    font:13px/1 FontAwesome;
    vertical-align: middle;
}
.salary table tfoot{
    border-top:2px solid #E7E7E7;
}
.salary fieldset.salaryView ul li{
    display: block;
    margin-bottom: 5px;
}
.salary fieldset fieldset{
    width: 88%;
    padding: 0;
    margin: 8px auto;
    border:none;
    border-top: 1px dotted rgb(197, 175, 175);
}
.salary fieldset fieldset .table{
    margin-bottom: 0;
}

.clickable{
    cursor : pointer;
}
.clickable:hover{
    text-decoration: underline;
}
h3.heading{
    font-size: 18px;
    margin: 0 0 10px;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}
span.red{
    color: #F00;
}
#first_name, #middle_name, #last_name, #embossed_name, #embossed_name_supplementary{
    text-transform: uppercase;
}
#email{
    text-transform: lowercase;
}
/*.box-header.with-border{
    color: #fff;
    background: #3B7596;
    background-color: #3B7596;
}*/
#approve, .approve{
    padding:0;
    background: none;
    border: none;
}
#approve:hover,.approve:hover{
    background: none;
}
/*tinymce file upload button*/
.mce-btn button{
    padding: 4px 6px !important;
}
tr.inactive{
    background: #FFE3E3!important;
}
.fa-check, .heading i.fa-trash{
    color: #3c8dbc;
}
.fa-check:hover, .heading.fa-trash:hover{
    color: #3c8dbc;
}
a span.hidden-xs{
    color: #FFF !important;
}

a.approve-link.clicked,
  input[type=submit].submit-disabled,.submit-disabled {
    pointer-events: none;
    cursor: default;
    /*color: #5A1717 !important;
    background: #C5B49A !important;
    border-color: #C5B49A !important;*/
}