<html>
<body>
<div class='container'>
    <div class='header'>
        <img src="assets/themes/ccms/images/logo.jpg">
        <div class='clear'></div>
        <p>{FULL_NAME},</p>
        <p>A/C No: {ACCOUNT_NUMBER}</p>
        <p>Card No: {CARD_NUMBER}</p>
        <p>Requested Branch: {BRANCH_NAME}</p>
        <p>Expiry Date: {EXPIRE_DATE}</p>
    </div>
    <div class='content'>
        <p>Dear {FULL_NAME},</p>
        <p>It is our pleasure to provide you _____ Bank - VISA Debit card. XXXX VISA Debit card is issued to get simplification for your payment through ATMs and merchant outlets across the VISA network in Nepal and India. Please change your PIN during your visit to a _____ Bank ATM and get signature on reverse side of card in signature panel just below magnetic stripe as a security measure.
        </p>
        <p>VISA debit card can be used for cash withdrawal from ATMs, pay for goods and services in different merchant's outlets and cash advance from different terminal as well. From XXXX ATMs you can get various services:
            <table style='margin-top:-16px;'>
                <tr>
                    <td>cash</td>
                    <td>: Get predefined amount displayed on screen</td>
                </tr>
                <tr>
                    <td>Cash Withdrawal</td>
                    <td>: Get amount by entering required amount</td>
                </tr>
                <tr>
                    <td>Balance inquiry</td>
                    <td>: Get account balance</td>
                </tr>
                <tr>
                    <td>Mini Statement</td>
                    <td>: Get print mini statement</td>
                </tr>
            </table>
        </p>
        <p>Card transaction limit:</p>
        <table width='100%' border='1' cellpadding='5' cellspacing='0'>
            <tr>
                <th rowspan='2'>Transaction location</th>
                <th colspan='2'>ATM cash withdrawal per transaction limit</th>
                <th rowspan='2'>ATM cash withdrawal limit per day</th>
                <th rowspan='2'>POS purchase/cash advance per transaction limit</th>
                <th rowspan='2'>POS purchase/cash advance per day limit</th>
                <th rowspan='2'>Total daily limit  including ATM & POS</th>
                <th rowspan='2'>Use time per day</th>
                <th rowspan='2'>Total monthly limit including ATM & POS</th>
            </tr>
            <tr>
                <td>XXXX</td>
                <td>Other than XXXX</td>
            </tr>
            <tr>
                <td>Nepal</td>
                <td>25,000</td>
                <td>As per Acquirer discretion</td>
                <td>100,000</td>
                <td>100,000</td>
                <td>100,000</td>
                <td>200,000</td>
                <td>10</td>
                <td>500,000</td>
            </tr>
            <tr>
                <td>India</td>
                <td colspan='2'>16,000</td>
                <td>16,000</td>
                <td>80,000</td>
                <td>160,000</td>
                <td>176,000</td>
                <td>10</td>
                <td>480,000</td>
            </tr>
        </table>
        <p>
            In India: (Use of Card in India is regulated by Nepal Rastra Bank and subject to change from time to time)
            For withdrawals in Indian Rupees, exchange will also be recovered @ 0.15 %.
        </p>
        <p>Card transaction charge:</p>
        <table width='100%' border='1' cellpadding='5' cellspacing='0'>
            <tr class='textleft'>
                <th>Transaction location</th>
                <th>ATM cash withdrawal</th>
                <th>Balance inquiry</th>
                <th>POS purchase</th>
                <th>POS cash advance</th>
            </tr>
            <tr>
                <td>network </td>
                <td>no charge </td>
                <td>no charge </td>
                <td>n/a </td>
                <td>n/a </td>
            </tr>
            <tr>
                <td>Visa network in India </td>
                <td>Rs. 250  </td>
                <td>Rs. 50 </td>
                <td>no charge </td>
                <td>Rs. 250</td>
            </tr>
            <tr>
                <td>Visa network in Nepal</td>
                <td>Rs. 30</td>
                <td>Rs. 20</td>
                <td>no charge </td>
                <td>Rs. 30</td>
            </tr>
        </table>
   
        <p>
            We request you to read the terms and conditions governing use of the Card carefully and refer to <a href='http://www.machbank.com' title='_____ Bank'>www._____.com</a> for more updates. Please contact your nearest _____ Bank branch or our Cards Department at telephone 4441762 Email: <a href='mailto:card@XXXX.com'>card@XXXX.com</a> in case of further queries or problems.
        </p>
        <p>
            Thank you once again for choosing _____ Bank's Visa Debit card and we assure you of our best services at all times.
        </p>
        <div class='footer'>
            <p class='red'>Service with a personal touch...</p>
            <p><strong>Head office</strong>: P.O.Box: XXXX, ______, Nepal, Tel: +977-XX-XXXXXX, Fax: +977-XX-XXXXXX</p>
            <p><strong>Corporate office</strong>: XXXXXX, Kathmandu, Phone: 01-XXXXXX, Fax: 01-XXXXXX</p>
        </div>
    </div>
</div>
</body>
</html>