<html>
<body>

<div class='container'>
    <div class='header'>
        <img src="assets/themes/ccms/images/logo.jpg">
        <div class='clear'></div>
        <p>{FULL_NAME},</p>
        <p>A/C No: {ACCOUNT_NUMBER}</p>
        <p>Card No: {CARD_NUMBER}</p>
        <p>Requested Branch: {BRANCH_NAME}</p>
        <p>Expiry Date: {EXPIRE_DATE}</p>
    </div>
    <div class='content'>
        <p>Dear <strong>{FULL_NAME}</strong>,</p>
        <p>It is our pleasure to provide you XXXX Bank - VISA USD Debit card. VISA USD Debit card is issued to get simplification for your payment through ATMs and merchant outlets across the VISA network in world except Nepal and India. Please change your PIN during your visit to a XXXX Bank ATM and get signature on reverse side of card in signature panel just below magnetic stripe as a security measure.
        </p>
        <p>XVISA USD debit card can be used for cash withdrawal from ATMs, pay for goods and services in different merchant's outlets and cash advance from different terminal as well.</p>
        <p>Card transaction limit:</p>
        <table width='100%' border='1' cellpadding='5' cellspacing='0'>
            <tr>
                <th>Transaction location</th>
                <th>ATM cash withdrawal per transaction limit</th>
                <th>ATM cash withdrawal limit per day</th>
                <th>POS purchase/cash advance per transaction limit</th>
                <th>POS purchase/cash advance per day limit</th>
                <th>Total daily limit  including ATM & POS</th>
                <th>Use time per day</th>
                <th>Total monthly limit including ATM & POS</th>
            </tr>
            <tr>
                <td>Visa network </td>
                <td>USD 500</td>
                <td>USD 2000</td>
                <td>USD 500</td>
                <td>USD 2000</td>
                <td>USD 2000</td>
                <td>10</td>
                <td>Not applicable</td>
            </tr>
           </table>
        <p>Card transaction charge:</p>
        <table width='100%' border='1' cellpadding='5' cellspacing='0'>
            <tr class='textleft'>
                <th>Transaction location</th>
                <th>ATM cash withdrawal</th>
                <th>Balance inquiry</th>
                <th>POS purchase</th>
                <th>POS cash advance</th>
            </tr>
            <tr>
                <td>Visa network </td>
                <td>USD 5 or 1% of transaction amount whichever is higher</td>
                <td>USD 0.75</td>
                <td>no charge</td>
                <td>USD 5 or 1% of transaction amount whichever is higher</td>
            </tr>
        </table>
   
        <p>
            We request you to read the terms and conditions governing use of the Card carefully and refer to <a href='http://www.XXXX.com' title='XXXX Bank'>www.XXXX.com</a> for updates on terms and schedule of service charges. Please contact your nearest XXXX Bank branch or our Cards Department at telephone XXXXXX Email: <a href='mailto:card@XXXX.com'>card@XXXX.com</a> in case of further queries or problems.
        </p>
        <p>
            Thank you once again for choosing XXXX Bank's Visa Debit card and we assure you of our best services at all times.
        </p>
        <div class='footer'>
            <p><strong>XXXXX Bank</strong></p>
            <p><strong>Card Department</strong></p>
        </div>
    </div>
</div>
</body>
</html>